myenv/
venv/
env/
__pycache__
.coverage
.idea
.vscode
.env
.env.example
*.csv
*.ipynb
data
try_broker_publish.py
try_influx_db.py
coverage.xml
audio/
staticfiles
**/.DS_Store
app.log
dblog.txt
*:Zone.Identifier
