<!-- templates/home.html -->
{% extends '_base.html' %} {% block content %} {% include "sidebar.html" %}
<div class="content-container">
  <div class="container-fluid">
    {% include "navbar.html" %}
    <div class="row my-4">
      <div class="col mb-4 mb-lg-0">
        <div class="card">
          <h5 class="card-header">Sensors</h5>
          <div class="card-body">
            <h3 class="card-title">{{ view.devices_count }}</h3>
            <h6 class="card-text">Deployed: {{ view.deployed_devices_count }}</h6>
          </div>
        </div>
      </div>
      <div class="col mb-4 mb-lg-0">
        <div class="card">
          <h5 class="card-header">Noise samples</h5>
          <div class="card-body">
            <h3 class="card-title">{{ view.recordings_count }}</h3>
            <h6 class="card-text">Recorded today: {{ view.recordings_count_today }}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
