<!-- templates/home.html -->
{% extends '_base.html' %} {% block content %} {% include "sidebar.html" %}
<div class="content-container">
  <div class="container-fluid">
    {% include "navbar.html" %}
    <div class="row my-4">
      <div class="col mb-4 mb-lg-0">
        <div class="card">
          <h5 class="card-header">Sensors</h5>
          <div class="card-body">
            <h5 class="card-title">50</h5>
            <p class="card-text">Deployed: 30</p>
            <p class="card-text text-success">
              9.4% increase since last month
            </p>
          </div>
        </div>
      </div>
      <div class="col mb-4 mb-lg-0">
        <div class="card">
          <h5 class="card-header">Noise samples</h5>
          <div class="card-body">
            <h5 class="card-title">1349</h5>
            <p class="card-text">Sucessful: 30</p>
            <p class="card-text text-success">15.8% increase since last month</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
