<div>
  <nav class="navbar navbar-light">
    <div
      class="
        d-flex
        col-12 col-md-3 col-lg-2
        mb-2 mb-lg-0
        ml-3
        flex-wrap flex-md-nowrap
        justify-content-between
      "
    >
    <a class="navbar-brand" href="{% url 'home' %}">Noise Monitoring Dashboard</a>

    </div>
    <div
      class="
        col-12 col-md-5 col-lg-8
        d-flex
        align-items-center
        justify-content-md-end
        mt-3 mt-md-0
      "
    >
      <div>
        <button
          class="btn btn-secondary"
          type="button"
          id="dropdownMenuButton"
        >
          Logout
        </button>
      </div>
    </div>
  </nav>
</div>
