<div class="sidebar-container bg-light">
  <ul class="sidebar-navigation">
    <div class="sidebar-logo"></div>
    <li>
      <a href="#">
        <i class="fa fa-search fa-2x" aria-hidden="true"></i></a>
    </li>
    <li>
      <a href="#"> <i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-tachometer fa-2x" aria-hidden="true"></i></a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-cog fa-2x" aria-hidden="true"></i></a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-users fa-2x" aria-hidden="true"></i></a>
    </li>
  </ul>
</div>
