{% extends '_base.html' %}

{% load crispy_forms_filters %}

{% block title%}Create Device{% endblock title %}

{% block content %}
{% include "sidebar.html" %}
<div class="content-container">
  <div class="container-fluid">
    {% include "navbar.html" %}
    <div class="mt-4 mx-3">
      <h3>Create New Device</h3>
      <form method="post">
        {% csrf_token %} {{ form|crispy }}
        <button class="btn btn-primary" type="submit">Create Device</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
