{% extends '_base.html' %}

{% block title %}Devices{% endblock title %}

{% block content %}
    <a href="{% url 'create_device' %}" class="btn btn-primary">Add New Device</a>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>DEVICE ID</th>
            <th>IMEI NUMBER</th>
            <th>DEVICE NAME</th>
            <th>PHONE NUMBER</th>
            <th>PRODUCTION STAGE</th>
        </tr>
        </thead>
        <tbody>
        {% for device in device_list %}
                <tr>
                    <td><a href="{{ device.get_absolute_url }}">{{ device.device_id }}</a></td>
                    <td>{{ device.imei }}</td>
                    <td>{{ device.device_name }}</td>
                    <td>{{ device.phone_number }}</td>
                    <td>{{ device.production_stage }}</td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}
