{% extends '_base.html' %}

{% load crispy_forms_filters %}

{% block title %}{{ device.device_id }}{% endblock title %}

{% block content %}
{% include "sidebar.html" %}
<div class="content-container">
    <div class="container-fluid">
        {% include "navbar.html" %}
        <div class="card m-3">
            <div class="card-body">
                <div class="card-title">{{ device.device_id }}</div>
                <p><strong>Device ID</strong>: {{ device.device_id }}</p>
                <p><strong>Device Name</strong>: {{ device.device_name }}</p>
                <p><strong>IMEI Number</strong>: {{ device.imei }}</p>
                <p><strong>Phone Number</strong>: {{ device.phone_number }}</p>
                <p><strong>Version Number</strong>: {{ device.version_number }}</p>
                <p><strong>Production Stage</strong>: {{ device.production_stage }}</p>
                <p><strong>Tags:</strong>
                    {% for tag in device.tags.all %}
                    <span class="btn btn-light btn-outline-secondary btn-sm">{{ tag }}</span>
                    {% endfor %}
                </p>
            </div>
        </div>
        <a href="{% url 'edit_device' device.id %}" class="btn btn-primary mx-3 my-1">Edit</a>
    </div>
</div>
{% endblock content %}

