name: Build and Run tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Build the project
        run: docker-compose up -d --build
      - name: Run Django and pytest tests and generate report
        run: |
          docker-compose exec -T web coverage run --source=noise_sensors_monitoring,mqtt -m pytest
          docker-compose exec -T web coverage run -a --source=users,pages,devices manage.py test
          docker-compose exec -T web coverage report -m
      - name: Upload Coverage to Codecov
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        run: |
          docker-compose exec -T web pip install codecov
          docker-compose exec -T web codecov -t $CODECOV_TOKEN
